--index-url https://pypi.org/simple
--extra-index-url https://pypi.ngc.nvidia.com
--find-links https://download.pytorch.org/whl/torch_stable.html

 
future
librosa 
lmdb
numpy==1.26.4
opencv-contrib-python>=4.2.0.34
opencv-python
Pillow
pyyaml
scikit-image
scipy
tb-nightly
torch==2.2.2+cu121 
torchvision==0.17.2+cu121
torchaudio==2.2.2+cu121 
tqdm
yapf
gradio==4.44.1
watchdog